<div class="container p-4">
    <div class="row">
        {{#if (mayor EST_RES_DESCRIP 1)}}
            {{#each reservas}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body fondoGradiente3">
                        <h3 class="card-title text-uppercase colorGreen">
                            {{ESTC_NOMBRE}}
                        </h3>
                        <p>{{ESTC_DIRECCION}} - {{ESTC_LOCALIDAD}} </p>
                        <h6 class="card-subtitle mb-2 text-body-secondary">
                            Fecha: {{RESERVA_FECHA}}
                        </h6>
                        <h6 class="card-subtitle mb-2 text-body-secondary">
                            Tiempo de carga: {{RESERVA_HORA_INI}} - {{RESERVA_HORA_FIN}}
                        </h6>
                        <p class="card-text">
                            Precio: {{RESERVA_IMPORTE}}
                        </p>
                        <a href="/auth/cancelar/{{ID_RESERVA}}" class="btn btn-danger">Cancelar</a> {{!-- Fecha min 1:25
                        --}}
                    </div>
                </div>
            </div>
            {{/each}}
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center fondoGradiente3">
                <p>No hay reservas.</p>
                <a href="/auth/reserva">Agrega una.</a>
            </div>
        </div>
        {{/if}}

    </div>
</div>