<div class="container p-4">
    <div class="row">
        <div class="mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-center">Estaciones</h5>
                        </div>
                        <div class="col-md-4">
                            <form action="/buscar" method="GET" class="mb-4"> 
                                <div class="input-group"> 
                                    <input type="text" name="buscar" class="form-control" placeholder="Buscar estaci처n..."> 
                                    <button class="btn btn-outline-secondary" id="button-addon2">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div> 
                            </form>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Direcci처n</th>
                                <th scope="col">Localidad</th>
                                <th scope="col">Provincia</th>                                
                                <th scope="col">N째 surtidores</th>                                
                                <th scope="col">Acci처n</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            {{!-- {{#each estacionesCarga}} --}}
                            {{#if estacionesCarga}}
                                {{#each estacionesCarga}}
                                    <tr>
                                        <th scope="row"> {{ID_ESTC}} </th>
                                        <td> {{ESTC_NOMBRE}} </td>
                                        <td> {{ESTC_DIRECCION}} </td>
                                        <td> {{ESTC_LOCALIDAD}} </td>
                                        <td> {{PROVINCIA_NOMBRE}} </td>
                                        <td> {{ESTC_CANT_SURTIDORES}} </td>
                                        <td> <form action="/reserva/estacion/{{ID_ESTC}}"> <button class="btn btn-success">RESERVAR</button> </form> </td>
                                    </tr>
                                {{/each}}
                            {{else}}
                                {{#each rows}}
                                    <tr>
                                        <th scope="row"> {{ID_ESTC}} </th>
                                        <td> {{ESTC_NOMBRE}} </td>
                                        <td> {{ESTC_DIRECCION}} </td>
                                        <td> {{ESTC_LOCALIDAD}} </td>
                                        <td> {{PROVINCIA_NOMBRE}} </td>
                                        <td> {{ESTC_CANT_SURTIDORES}} </td>
                                        <td> <form action=""> <button class="btn btn-success">RESERVAR</button> </form> </td>
                                    </tr>
                                {{/each}}
                            {{/if}}
                            {{!-- {{/each}} --}}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>