<h2 class="colorGreen">Listado de Estaciones</h2>
<div style="position: relative; width: 100%; max-width: 400px;">
    <input
        type="text"
        id="buscador"
        placeholder="Buscar por nombre, direcci처n, localidad, provincia"
        style="width: 100%; padding-right: 40px;"
        class="form-control fondoGradiente3"
    />
    <i class="fas fa-search" 
       style="
            position: absolute; 
            right: 10px; 
            top: 50%; 
            transform: translateY(-50%); 
            color: #6c757d; 
            font-size: 1.2rem; 
            cursor: pointer;">
    </i>
</div>
<br>
<div>
<table class="table table-bordered table-header">
    <thead>
        <tr>
            <th scope="col" class="fondoGradiente2 table-header">#</th>
            <th scope="col" class="fondoGradiente2 table-header">Nombre</th>
            <th scope="col" class="fondoGradiente2 table-header">Direcci처n</th>
            <th scope="col" class="fondoGradiente2 table-header">Localidad</th>
            <th scope="col" class="fondoGradiente2 table-header">Provincia</th>
            <th scope="col" class="fondoGradiente2 table-header">N째 surtidores</th>
            <th scope="col" class="fondoGradiente2 table-header">Acci처n</th>
        </tr>
    </thead>
    <tbody id="tabla-estacionesCarga">
        {{#if estacionesCarga}}
            {{#each estacionesCarga}}
                <tr>
                    <th scope="row">{{ID_ESTC}}</th>
                    <td>{{ESTC_NOMBRE}}</td>
                    <td>{{ESTC_DIRECCION}}</td>
                    <td>{{ESTC_LOCALIDAD}}</td>
                    <td>{{PROVINCIA_NOMBRE}}</td>
                    <td>{{ESTC_CANT_SURTIDORES}}</td>
                    <td>
                        <form action="/reserva/estacion/{{ID_ESTC}}">
                            <button class="btn btn-success">Reservar</button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        {{else}}
            <tr>
                <td colspan="7">No hay estaciones disponibles.</td>
            </tr>
        {{/if}}
    </tbody>
</table>
</div>

<script>
    document.getElementById('buscador').addEventListener('input', function () {
        const filtro = this.value.toLowerCase();
        const filas = document.querySelectorAll('#tabla-estacionesCarga tr');

        filas.forEach((fila) => {
            const textoFila = fila.textContent.toLowerCase();
            fila.style.display = textoFila.includes(filtro) ? '' : 'none';
        });
    });
</script>
