<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body fondoGradiente3">
                    <form action="/auth/reserva" method="POST">
                        <h3 class="card-title text-center colorGreen">Reserva</h3>
                        <div class="form-group my-3">
                            <label for="estc_nom_direcc" class="form-label colorBlue">Estación de carga:</label>
                            <select id="estc_nom_direcc" class="form-control fondoGradiente3" name="estc_nom_direcc" required>
                                <option value="" disabled selected>Selecciona un estación</option>
                                {{#each estacionCarga}}
                                <option value="{{ID_ESTC}}">{{ESTC_NOMBRE}} - {{ESTC_DIRECCION}}</option>
                                {{/each}}
                            </select>
                            <input type="hidden" name="ID_ESTC" id="ID_ESTC">
                        </div>
                        <div class="form-group my-3">
                            <label for="reserva_fecha" class="form-label colorBlue">Fecha:</label>
                            <input type="date" id="reserva_fecha" class="form-control fondoGradiente3" name="reserva_fecha">
                        </div>
                        <div class="form-group my-3">
                            <label for="reserva_hora_ini" class="form-label colorBlue">Hora de inicio:</label>
                            <input type="time" id="reserva_hora_ini" class="form-control fondoGradiente3" name="reserva_hora_ini">
                        </div>
                        <div class="form-group my-3">
                            <label for="reserva_hora_time" class="form-label colorBlue">Seleccione el tiempo de carga
                                (minutos):</label>
                            <select id="reserva_hora_time" name="reserva_hora_time" class="fondoGradiente3"
                                onchange="calcularHoraFin(), costoEstimado()" required>
                                <option value="" disabled selected>Seleccione tiempo</option>
                                {{#each tiempo_carga}}
                                <option value="{{TIEMPO_CARGA}}">{{TIEMPO_CARGA}} minutos</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group my-3">
                            <label for="reserva_hora_fin" class="form-label colorBlue">Hora de finalización:</label>
                            <input type="text" id="reserva_hora_fin" class="form-control fondoGradiente3" name="reserva_hora_fin"
                                readonly>
                        </div>
                        <div class="form-group my-3">
                            <label for="reserva_importe" class="form-label colorBlue">Importe:</label>
                            <input type="text" id="reserva_importe" class="form-control fondoGradiente3" name="reserva_importe"
                                readonly>
                        </div>
                        <div class="form-group d-grid my-3">
                            <button class="btn btn-success">Aceptar</button>
                            <a href="/reserva" class="btn btn-danger my-2">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>