<div class="row p-4">
    <div class="col-md-4 mx-auto">
        <div class="">
            <div class="card-body">
                <h3 class="card-title text-center colorGreen">Restablecer contraseña</h3>
                <form action="/admin/editarAdminUser/{{editarAdminUser.ID_USER}}" method="post">
                    <div class="form-group my-3">
                        <label for="user_nombre" class="form-label colorBlue">Nombre:</label>
                        <input type="text" value="{{editarAdminUser.USER_NOMBRE}}" id="user_nombre" name="user_nombre" placeholder="Ingrese su nombre"
                            class="form-control fondoGradiente3" disabled>
                    </div>
                    <div class="form-group my-3">
                        <label for="user_apellido" class="form-label colorBlue">Apellido:</label>
                        <input type="text" value="{{editarAdminUser.USER_APELLIDO}}" id="user_apellido" name="user_apellido" placeholder="Ingrese su apellido"
                            class="form-control fondoGradiente3" disabled>
                    </div>
                    <div class="form-group my-3">
                        <label for="user_correo" class="form-label colorBlue">Correo:</label>
                        <input type="email" value="{{editarAdminUser.USER_CORREO}}" id="user_correo" name="user_correo" placeholder="Ingrese su correo"
                            class="form-control fondoGradiente3" disabled>
                    </div>
                    <div class="form-group my-3">
                        <label for="user_telefono" class="form-label colorBlue">Telefono:</label>
                        <input type="tel" value="{{editarAdminUser.USER_TELEFONO}}" id="user_telefono" name="user_telefono" placeholder="11xxxxxxxx" class="form-control fondoGradiente3" disabled>
                    </div>
                    <div class="form-group my-3">
                        <label for="password" class="form-label colorBlue letraBold">Contraseña:</label>
                        <input type="password" value="{{editarAdminUser.USER_CONTRASEINA}}" id="user_contrasenia" name="user_contrasenia" placeholder="Contraseña" class="form-control fondoGradiente3">
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-success btn-block">Confirmar</button>
                        <a href="/admin" class="btn btn-danger my-2">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>