{{!-- <div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/admin/gestionReservas" method="POST">


                        <div class="form-group my-3">
                            <label for="veh_marca" class="form-label">Marca:</label>
                            <select id="veh_marca" class="form-control" name="veh_marca" required>
                                <option value="" disabled selected>Selecciona una marca</option>
                                {{#each marcas}}
                                <option value="{{ID_MARCA}}">{{MAR_NOMBRE}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group my-3">
                            <label for="veh_modelo" class="form-label">Modelo:</label>
                            <select id="veh_modelo" class="form-control" name="veh_modelo">
                                <option value="" disabled selected>Selecciona un modelo</option>
                                {{#each modelos}}
                                <option value="{{ID_MODELO}}">{{MOD_NOMBRE}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group my-3">
                            <label for="veh_anio" class="form-label">Año:</label>
                            <select type="text" id="veh_anio" class="form-control" name="veh_anio">
                                <option value="" disabled selected>Selecciona un año</option>
                                {{#each modelos}}
                                <option value="{{ID_ANIO}}">{{N_ANIO}}</option>
                                {{/each}}
                        </div>
                        <div class="form-group my-3">
                            <label for="veh_patente" class="form-label">Patente:</label>
                            <input type="text" id="veh_patente" class="form-control" name="veh_patente"
                                placeholder="Ej: ABC-123">
                        </div>
                        <div class="form-group d-grid my-3">
                            <button class="btn btn-success">REGISTAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> --}}

<h1 class="colorGreen table-header">Reservas</h1>
{{#if reservas.length}}
<table class="table table-bordered table-header">
    <thead>
        <tr>
            <th class="fondoGradiente2 table-header">N° de Reserva</th>
            <th class="fondoGradiente2 table-header">Usuario</th>
            <th class="fondoGradiente2 table-header">Fecha</th>
            <th class="fondoGradiente2 table-header">Hora inicio</th>
            <th class="fondoGradiente2 table-header">Hora fin</th>
            <th class="fondoGradiente2 table-header">Importe</th>
            <th class="fondoGradiente2 table-header">Estación</th>
            <th class="fondoGradiente2 table-header">Dirección</th>
            <th class="fondoGradiente2 table-header">Localidad</th>
            <th class="fondoGradiente2 table-header">Estado</th>
            <th scope="col" class="fondoGradiente2 table-header">Acción</th>
        </tr>
    </thead>
    <tbody>
        {{#each reservas}}
        <tr>
            <td>{{ID_RESERVA}}</td>
            <td>{{USER_CORREO}}</td>
            <td>{{RESERVA_FECHA}}</td>
            <td>{{RESERVA_HORA_INI}}</td>
            <td>{{RESERVA_HORA_FIN}}</td>
            <td>{{RESERVA_IMPORTE}}</td>
            <td>{{ESTC_NOMBRE}}</td>
            <td>{{ESTC_DIRECCION}}</td>
            <td>{{ESTC_LOCALIDAD}}</td>
            <td>{{EST_RES_DESCRIP}}</td>
            <td>
                <a href="/admin/gestionReservas/cancelar/{{ID_RESERVA}}" class="btn btn-danger btn-sm" onclick="return confirm('¿Seguro que deseas eliminar esta estación?');">Cancelar Reserva</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>No se encontraron reservas registradas.</p>
{{/if}}