<div class="container p-4">
    <div class="row">

        {{#each adminuser}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase">
                            {{USER_NOMBRE}} {{USER_APELLIDO}}
                        </h3>
                        <h6 class="card-subtitle mb-2 text-body-secondary">
                            {{USER_CORREO}}
                        </h6>
                        <p class="card-text">
                            Telefono: {{USER_TELEFONO}}
                        </p>
                        <a href="/admin/eliminar/{{ID_USER}}" class="btn btn-danger">ELIMINAR</a> {{!-- Fecha min 1:25 --}}
                        <a href="/admin/editarAdminUser/{{ID_USER}}" class="btn btn-secondary">EDITAR</a>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No hay usuarios agregados.</p>
                </div>
            </div>
        {{/each}}

    </div>
</div>