<h1 class="colorGreen">Reservas por Estación</h1>

<!-- Buscador -->
<form method="GET" action="/admin/verEstaciones" class="my-3">
    <input type="text" class="form-control d-inline" style="width: 300px;" name="estacion"
        placeholder="Buscar por nombre de estación" value="{{estacion}}">
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

<!-- Tabla de Reservas -->
<div class="">
    <div class="card-body">
        <h2 class="card-title my-3 colorGreen">Reservas por día</h2>
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col" class="fondoGradiente">Estación</th>
                    <th scope="col" class="fondoGradiente">Día</th>
                    <th scope="col" class="fondoGradiente">Total de reservas</th>
                </tr>
            </thead>
            <tbody>
                {{#each indicadores.reservasPorDia}}
                <tr>
                    <td>{{estacion}}</td>
                    <td>{{dia}}</td>
                    <td>{{total_reservas}}</td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="3">No hay datos disponibles</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="">
    <div class="card-body">
        <h2 class="card-title my-3 colorGreen">Reservas por mes</h2>
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col" class="fondoGradiente">Estación</th>
                    <th scope="col" class="fondoGradiente">Mes</th>
                    <th scope="col" class="fondoGradiente">Total de reservas</th>
                </tr>
            </thead>
            <tbody>
                {{#each indicadores.reservasPorMes}}
                <tr>
                    <td>{{estacion}}</td>
                    <td>{{mes}}</td>
                    <td>{{total_reservas}}</td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="3">No hay datos disponibles</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="">
    <div class="card-body">
        <h2 class="card-title my-3 colorGreen">Reservas por año</h2>
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col" class="fondoGradiente">Estación</th>
                    <th scope="col" class="fondoGradiente">Año</th>
                    <th scope="col" class="fondoGradiente">Total de reservas</th>
                </tr>
            </thead>
            <tbody>
                {{#each indicadores.reservasPorAno}}
                <tr>
                    <td>{{estacion}}</td>
                    <td>{{anio}}</td>
                    <td>{{total_reservas}}</td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="3">No hay datos disponibles</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>